.chromeframe {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

body{
  font-family: Futura, Futura-Medium, "Futura Medium", "Century Gothic", CenturyGothic, "Apple Gothic", AppleGothic, "URW Gothic L", "Avant Garde", sans-serif;
  color: #FCEE21;
  background-color: #1B1464;
}
#loader-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
}
#loader {
  z-index: 1001;
  display: block;
  position: relative;
  top: 50%;
  left: 50%;
  width:60em;
  height:50em;
  margin-top: -25em; /*set to a negative number 1/2 of your height*/
  margin-left: -20em; /*set to a negative number 1/2 of your width*/
  border: yellow;
}

#loader-wrapper .loader-section {
  position: fixed;
  top: 0;
  width: 51%;
  height: 100%;
  background: #0a0a3a;
  z-index: 1000;
}

#loader-wrapper .loader-section.section-left {
  left: 0;
}

#loader-wrapper .loader-section.section-right {
  right: 0;
}

#rocket {
  -webkit-animation: popup 1s ease infinite;
  animation: popup 1s ease infinite;
}
#rocketfire {
  -webkit-animation: shake .2s linear infinite;
  animation: shake .2s linear infinite;
}
#cloud1 {
  -webkit-animation: fall 1s linear infinite;
  animation: fall 1s linear infinite;
}
#cloud2 {
  -webkit-animation: fall-2 1s linear infinite;
  animation: fall-2 1s linear infinite;
}
#cloud3 {
  -webkit-animation: fall-3 2s linear infinite;
  animation: fall-3 2s linear infinite;
}
#cloud4 {
  -webkit-animation: fall-4 3s linear infinite;
  animation: fall-4 3s linear infinite;
}
@-webkit-keyframes popup {
  0% {
    -webkit-transform: translate(260px, 200px);
    transform: translate(260px, 200px);
  }
  50% {
    -webkit-transform: translate(260px, 240px);
    transform: translate(260px, 240px);
  }
  100% {
    -webkit-transform: translate(260px, 200px);
    transform: translate(260px, 200px);
  }
}
@keyframes popup {
  0% {
    -webkit-transform: translate(260px, 200px);
    transform: translate(260px, 200px);
  }
  50% {
    -webkit-transform: translate(260px, 240px);
    transform: translate(260px, 240px);
  }
  100% {
    -webkit-transform: translate(260px, 200px);
    transform: translate(260px, 200px);
  }
}
@-webkit-keyframes fall {
  from {
    -webkit-transform: translateY(-100px);
    transform: translateY(-100px);
  }
  to {
    -webkit-transform: translateY(1000px);
    transform: translateY(1000px);
  }
}
@keyframes fall {
  from {
    -webkit-transform: translateY(-100px);
    transform: translateY(-100px);
  }
  to {
    -webkit-transform: translateY(1000px);
    transform: translateY(1000px);
  }
}
@-webkit-keyframes fall-2 {
  from {
    -webkit-transform: translate(200px, -200px);
    transform: translate(200px, -200px);
  }
  to {
    -webkit-transform: translate(200px, 800px);
    transform: translate(200px, 800px);
  }
}
@keyframes fall-2 {
  from {
    -webkit-transform: translate(200px, -200px);
    transform: translate(200px, -200px);
  }
  to {
    -webkit-transform: translate(200px, 800px);
    transform: translate(200px, 800px);
  }
}
@-webkit-keyframes fall-3 {
  from {
    -webkit-transform: translate(400px, -400px);
    transform: translate(400px, -400px);
  }
  to {
    -webkit-transform: translate(400px, 1000px);
    transform: translate(400px, 1000px);
  }
}
@keyframes fall-3 {
  from {
    -webkit-transform: translate(400px, -400px);
    transform: translate(400px, -400px);
  }
  to {
    -webkit-transform: translate(400px, 1000px);
    transform: translate(400px, 1000px);
  }
}
@-webkit-keyframes fall-4 {
  from {
    -webkit-transform: translate(500px, -400px);
    transform: translate(500px, -400px);
  }
  to {
    -webkit-transform: translate(500px, 1000px);
    transform: translate(500px, 1000px);
  }
}
@keyframes fall-4 {
  from {
    -webkit-transform: translate(500px, -400px);
    transform: translate(500px, -400px);
  }
  to {
    -webkit-transform: translate(500px, 1000px);
    transform: translate(500px, 1000px);
  }
}
@-webkit-keyframes shake {
  0% {
    -webkit-transform: translate(55px, 135px) rotate(7deg);
    transform: translate(55px, 135px) rotate(7deg);
  }
  20% {
    -webkit-transform: translate(55px, 135px) rotate(0deg);
    transform: translate(55px, 135px) rotate(0deg);
  }
  40% {
    -webkit-transform: translate(55px, 135px) rotate(-7deg);
    transform: translate(55px, 135px) rotate(-7deg);
  }
  60% {
    -webkit-transform: translate(55px, 135px) rotate(0deg);
    transform: translate(55px, 135px) rotate(0deg);
  }
  100% {
    -webkit-transform: translate(55px, 135px) rotate(0deg);
    transform: translate(55px, 135px) rotate(0deg);
  }
}
@keyframes shake {
  0% {
    -webkit-transform: translate(55px, 135px) rotate(7deg);
    transform: translate(55px, 135px) rotate(7deg);
  }
  20% {
    -webkit-transform: translate(55px, 135px) rotate(0deg);
    transform: translate(55px, 135px) rotate(0deg);
  }
  40% {
    -webkit-transform: translate(55px, 135px) rotate(-7deg);
    transform: translate(55px, 135px) rotate(-7deg);
  }
  60% {
    -webkit-transform: translate(55px, 135px) rotate(0deg);
    transform: translate(55px, 135px) rotate(0deg);
  }
  100% {
    -webkit-transform: translate(55px, 135px) rotate(0deg);
    transform: translate(55px, 135px) rotate(0deg);
  }
}

/* Loaded */
.loaded #loader-wrapper .loader-section.section-left {
  -webkit-transform: translateX(-100%);  /* Chrome, Opera 15+, Safari 3.1+ */
  -ms-transform: translateX(-100%);  /* IE 9 */
  transform: translateX(-100%);  /* Firefox 16+, IE 10+, Opera */

  -webkit-transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
  transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
}

.loaded #loader-wrapper .loader-section.section-right {
  -webkit-transform: translateX(100%);  /* Chrome, Opera 15+, Safari 3.1+ */
  -ms-transform: translateX(100%);  /* IE 9 */
  transform: translateX(100%);  /* Firefox 16+, IE 10+, Opera */

  -webkit-transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
  transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
}

.loaded #loader {
  opacity: 0;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
.loaded #loader-wrapper {
  visibility: hidden;

  -webkit-transform: translateY(-100%);  /* Chrome, Opera 15+, Safari 3.1+ */
  -ms-transform: translateY(-100%);  /* IE 9 */
  transform: translateY(-100%);  /* Firefox 16+, IE 10+, Opera */

  -webkit-transition: all 0.3s 1s ease-out;
  transition: all 0.3s 1s ease-out;
}

/* JavaScript Turned Off */
.no-js #loader-wrapper {
  display: none;
}
.no-js h1 {
  color: #222222;
}

#content {
  text-align: center;
}
#content p{
  margin-top: 2em;
}
.centered{
  position:fixed;
  top: 50%;
  left: 50%;
  width:30em;
  height:18em;
  margin-top: -9em; /*set to a negative number 1/2 of your height*/
  margin-left: -15em; /*set to a negative number 1/2 of your width*/
}
.btn-circle {
  margin-bottom: 5em;
  width: 70px;
  height: 70px;
  margin-top: 10px;
  padding: 7px 16px;
  border: 2px solid #FCEE21;
  border-radius: 100% !important;
  font-size: 40px;
  color: #FCEE21;
  background: transparent;
  -webkit-transition: background 0.3s ease-in-out;
  -moz-transition: background 0.3s ease-in-out;
  transition: background 0.3s ease-in-out;
}
.btn-circle:hover,
.btn-circle:focus {
  outline: none;
  color: #FCEE21;
  background: rgba(255, 255, 255, 0.1);
}
.btn-circle i.animated {
  -webkit-transition-property: -webkit-transform;
  -webkit-transition-duration: 1s;
  -moz-transition-property: -moz-transform;
  -moz-transition-duration: 1s;
}
.btn-circle:hover i.animated {
  -webkit-animation-name: pulse;
  -moz-animation-name: pulse;
  -webkit-animation-duration: 1.5s;
  -moz-animation-duration: 1.5s;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  -moz-animation-timing-function: linear;
}
@-webkit-keyframes pulse {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
@-moz-keyframes pulse {
  0% {
    -moz-transform: scale(1);
    transform: scale(1);
  }
  50% {
    -moz-transform: scale(1.2);
    transform: scale(1.2);
  }
  100% {
    -moz-transform: scale(1);
    transform: scale(1);
  }
}

.new-submit-btn.is-open ~ .description {
  opacity: 0;
}

.new-submit-btn {
  margin: auto;
  display: block;
  position: relative;
  width: 150px;
  height: 40px;
  font-size: 1.2em;
  -webkit-transition: width 0.8s cubic-bezier(0.23, 1, 0.32, 1), height 0.8s cubic-bezier(0.23, 1, 0.32, 1), -webkit-transform 0.8s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: width 0.8s cubic-bezier(0.23, 1, 0.32, 1), height 0.8s cubic-bezier(0.23, 1, 0.32, 1), transform 0.8s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transform-origin: 50% 50%;
  -ms-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
  text-align: center;
}

.new-submit-btn .btn-front {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  line-height: 40px;
  background-color: #FCEE21;
  color: #0a0a3a;
  cursor: pointer;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-tap-highlight-color: transparent;
  -webkit-transition: background 0.15s ease, line-height 0.8s cubic-bezier(0.23, 1, 0.32, 1);
  transition: background 0.15s ease, line-height 0.8s cubic-bezier(0.23, 1, 0.32, 1);
}
.new-submit-btn .btn-front:hover {
  background-color: #0a0a3a;
  color: #FCEE21;
}
.pacifico{
  font-family: pacifico !important;
}
.new-submit-btn .btn-back {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #0a0a3a;
  color: #FCEE21;
  -webkit-transform: translateZ(-2px) rotateX(180deg);
  transform: translateZ(-2px) rotateX(180deg);
  overflow: hidden;
  -webkit-transition: box-shadow 0.8s ease;
  transition: box-shadow 0.8s ease;
}
.new-submit-btn .btn-back p {
  margin-top: 27px;
  margin-bottom: 25px;
}
.new-submit-btn .btn-back button {
  padding: 12px 20px;
  width: 30%;
  margin: 0 5px;
  background-color: transparent;
  border: 0;
  border-radius: 2px;
  font-size: 1em;
  cursor: pointer;
  -webkit-appearance: none;
  -webkit-tap-highlight-color: transparent;
  -webkit-transition: background 0.15s ease;
  transition: background 0.15s ease;
}
.new-submit-btn .btn-back button:focus {
  outline: 0;
}
.new-submit-btn .btn-back button.yes {
  background-color: #FCEE21;
  color: #0a0a3a;
}
.new-submit-btn .btn-back button.yes:hover {
  background-color: #51adf6;
}
.new-submit-btn .btn-back button.no {
  color: #2196F3;
}
.new-submit-btn .btn-back button.no:hover {
  background-color: #ddd;
}

.new-submit-btn[data-direction="left"] .btn-back,
.new-submit-btn[data-direction="right"] .btn-back {
  -webkit-transform: translateZ(-2px) rotateY(180deg);
  transform: translateZ(-2px) rotateY(180deg);
}

.new-submit-btn.is-open {
  width: 400px;
  height: 160px;
}
.new-submit-btn.is-open .btn-front {
  pointer-events: none;
  line-height: 160px;
}
.new-submit-btn.is-open .btn-back {
  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.4);
}

.new-submit-btn[data-direction="top"].is-open {
  -webkit-transform: rotateX(180deg);
  transform: rotateX(180deg);
}

.new-submit-btn[data-direction="right"].is-open {
  -webkit-transform: rotateY(180deg);
  transform: rotateY(180deg);
}

.new-submit-btn[data-direction="bottom"].is-open {
  -webkit-transform: rotateX(-180deg);
  transform: rotateX(-180deg);
}

.new-submit-btn[data-direction="left"].is-open {
  -webkit-transform: rotateY(-180deg);
  transform: rotateY(-180deg);
}
